<mat-toolbar>
  <span class="font">USN Formatter</span>
</mat-toolbar>

<div style="margin-top: 4em; margin-left: 2em;">
  <form [formGroup]="usnForm">
    <mat-form-field appearance="outline">
      <mat-label class="font">Enter the USNs</mat-label>
      <textarea matInput formControlName="usns" placeholder="1ABC10 67,68,69..." rows="8" cols="20"></textarea>
      <mat-error *ngIf="formControls.usns.errors?.required && formControls.usns.dirty">*Required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="padding-left: 2em;">
      <mat-label class="font">Formatted USNs</mat-label>
      <textarea matInput formControlName="output" rows="8" cols="20" [readonly]="true"></textarea>
    </mat-form-field>

    <button mat-raised-button style="margin-left: 2em;" (click)="copy()">
      <mat-icon aria-hidden="false" aria-label="Copy" [inline]="true">content_copy</mat-icon>
      Copy
    </button>

    <div class="button-row" style="padding-top: 2em;">
      <button mat-raised-button (click)="clear()">Clear</button>
      <button mat-raised-button color="primary" (click)="format()" [disabled]="usnForm.invalid">Format</button>
      <button mat-raised-button color="primary" (click)="formatAndCopy()" [disabled]="usnForm.invalid">
        <mat-icon aria-hidden="false" aria-label="Copy" [inline]="true">content_copy</mat-icon>
        Format & Copy
      </button>
    </div>

  </form>
</div>